html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

Link{
  font-family: 'Bebas Neue', cursive;
}

h1{
  font-family: 'Bebas Neue', cursive;
}

h2{
  font-family: 'Bebas Neue', cursive;
}

h3{
  font-family: 'Bebas Neue', cursive;
}

button{
  font-family: 'Bebas Neue', cursive;
}

input{
  font-family: 'Bebas Neue', cursive;
}

p{
  font-family: 'Bebas Neue', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
