.Wrapper{
  height: 100vh;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.0);
  display: flex;
  justify-content: center;
  z-index: 2;
  overflow: scroll;
}

.Main{
  background-image: url("https://cdn.shopify.com/s/files/1/0104/1599/6990/t/4/assets/password-page-background.jpg?v=16656598382656611395");
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.Content{
  width: 50%;
  margin-top: 2%;
  z-index: 3;
}

.NavBar{
  margin-top: 2%;
  width: 80%;
  display: flex;
}
.NavContent{
  padding-right: 5%;
  color: white;
  font-size: 100%;
  font-weight: bold;
}

.Body{
}

.IntroImage{
  display: flex;
}

.Intro{
  color: white;
  font-size: 300%;
  font-weight: bolder;
  width: 60%;
}

.Memoji{
  width: 40%;
  display: block
}

.Headline{
  display: flex;
  width: 100%;
  color: gold;
  font-size: 135%;
  font-weight: bold;
  font-style: italic;
  text-justify:distribute;
}

.MySkills{
  width: 100%;
  color: white;
  font-size: 200%;
  font-weight: bold;
}

.Skillset{
  width: 100%;
  color: gold;
  font-size: 180%;
  font-weight: bold;
  text-align: center;
}

.Table{
  display: flex;
}

.SkillsIcons{
  width: 100%;
}

.IconSeparation{
  text-align: center;
  vertical-align: middle;
}

.IconSize{
  font-size: 50px;
  color: white;
}

.IconSeparationText{
  text-align: center;
  color: white;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 1024px) {
  .Content{
    width: 95%;
  }

  .IconSize{
    font-size: 35px;
  }

  .Table{
    display: inline;
  }
  .SkillsIcons{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

}