.Wrapper{
  height: 100vh;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.0);
  display: flex;
  justify-content: center;
  z-index: 2;
  overflow: scroll;
  overflow-x: hidden;
}

.Main{
  /* background-image: url("https://i.imgur.com/JUJXV6v.png"); */
  /* background-image: url("https://i.imgur.com/Pw3QNsA.png"); */
  /* background-image: url("https://i.imgur.com/kTflw42.png"); */
  background-image: url("https://i.imgur.com/7d0JQqq.png");
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.Content{
  width: 50%;
  margin-top: 2%;
  z-index: 3;
}

.NavBar{
  margin-top: 2%;
  width: 80%;
  display: flex;
}
.NavContent{
  padding-right: 5%;
  color: white;
  font-size: 100%;
  font-weight: bold;
}

.Line{
  width: 100%;
  height: 2pt;
  background-color: gold;
  margin-top: 2pt;
}

.IntroImage{
  display: flex;
}

.Intro{
  width: 60%;
  margin-top: auto;
  margin-bottom: auto;
}

.IntroText{
  line-height: normal;
  color: white;
  font-size: 400%;
  font-weight: bolder;
  text-align: center;
}

.Memoji{
  width: 40%;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.Headline{
  display: flex;
  width: 100%;
  color: gold;
  font-size: 135%;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.1em;
  text-align: justify;
  padding-top: 2%;
}

.PortfolioTitle{
  width: 100%;
  color: white;
  font-size: 200%;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 10px;
}

.Skills{
  margin-top: -5%;
  margin-bottom: -1%;
  display: flex;
  width: 100%;
}

.SkillsSet{
  width: 33.3%;
  padding-left: 5px;
  padding-right: 5px;
}

.SkillsTitle{
  color: gold;
  font-size: 200%;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.SkillsIcon{
  display: flex;
  margin-top: auto;
}

.IconCombo{
  width: 50%;
  margin-top: -10%;
}

.IconPosition{
  text-align: center;
}

.IconSize{
  font-size: 50px;
  color: white;
}

.IconText{
  color: white;
  font-size: 110%;
  text-align: center;
  margin-top: auto;
}

.ProjectBorder{
  border-style: solid;
  border-width: medium;
  border-color: white;
  border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
  margin-top: auto;
  margin-bottom: 5%;
}

.ProjectLinkTitle{
  margin:auto;
  color: gold;
  font-size: 180%;
  font-weight: bold;
  width: 100%;
  padding-right: 2%;
  padding-left: 2%;
  text-align: left;
  text-decoration: underline;
}

.ProjectLinkParagraph{
  color: gold;
  font-size: 120%;
  width: 100%;
  margin:auto;
  padding-right: 2%;
  padding-left: 2%;
  text-align: justify;
}

.Experience{
  display: flex;
}

.ExperienceTimeline{
  width: 10%;
}

.ExperienceTimelineFormat{
  margin-left: 45%;
  height: 100%;
  width: 10%;
  background-color: white;
}


.ExperienceDescriptions{
  width: 90%;
}

.ExperienceJob{
  margin-left: 2%;
}

.ExperienceCompanyName{
  color: gold;
  font-size: 180%;
  font-weight: bold;
  width: 150%;
  text-align: left;
  margin-bottom: auto;
}

.ExperienceJobDates{
  margin-bottom: auto;
  margin-top: auto;
  color: rgba(255, 217, 0, 0.75);
  font-size: 100%;
  width: 100%;
  text-align: left;
  font-style: italic;
}

.ExperienceJobPost{
  margin-bottom: auto;
  margin-top: auto;
  color: rgba(255, 217, 0, 0.75);
  font-size: 120%;
  width: 100%;
  text-align: left;
  font-style: italic;
}

.ExperienceJobDescription{
  color: white;
  font-size: 120%;
  width: 100%;
  text-align: justify;
  margin: auto;
  margin-bottom: 5%;
}

.Footer{
  height: 20%;
}

@media (max-width: 1024px) {
  .Content{
    width: 75%;
  }
}

@media (max-width: 500px) {
  .Content{
    width: 90%;
  }

  .IntroText{
    font-size: 200%;
  }
  
  .Headline{
    font-size: 100%;
    margin-top: auto;
  }
  
  .PortfolioTitle{
    font-size: 166%;
    margin-top: auto;
  }

  .Skills{
    display: inline;
  }

  .SkillsSet{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8%;
  }

  .SkillTitle{
    font-size: 166%;
  }

  .IconCombo{
    margin-top: -18%;
  }

  .IconSize{
    font-size: 35px;
  }

  .IconText{
    font-size: 90%;
  }

  .ProjectLinkTitle{
    font-size: 166%;
  }

  .ProjectLinkParagraph{
    font-size: 90%;
  }

  .ExperienceCompanyName{
    font-size: 140%;
  }
  
  .ExperienceJobDates{
    font-size: 80%;
  }
  
  .ExperienceJobPost{
    font-size: 100%;
  }
  
  .ExperienceJobDescription{
    font-size: 100%;
  }

}