.Wrapper{
  height: 100vh;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.0);
  display: flex;
  justify-content: center;
  z-index: 2;
  overflow: scroll;
}

.Main{
  background-image: url("https://cdn.shopify.com/s/files/1/0104/1599/6990/t/4/assets/password-page-background.jpg?v=16656598382656611395");
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.Content{
  width: 50%;
  margin-top: 2%;
  z-index: 3;
}

.NavBar{
  margin-top: 2%;
  width: 80%;
  display: flex;
}
.NavContent{
  padding-right: 5%;
  color: white;
  font-size: 100%;
  font-weight: bold;
}

.IntroImage{
  display: flex;
}

.Intro{
  width: 60%;
  margin-top: auto;
  margin-bottom: auto;
}

.IntroText{
  line-height: normal;
  color: white;
  font-size: 300%;
  font-weight: bolder;
  text-align: center;
}

.Memoji{
  width: 40%;
  display: block
}

.Headline{
  display: flex;
  width: 100%;
  color: gold;
  font-size: 135%;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.1em;
  text-align: justify;
}

.MySkills{
  width: 100%;
  color: white;
  font-size: 200%;
  font-weight: bold;
}

.Skills{
  margin-top: -5%;
  display: flex;
  width: 100%;
}

.SkillsSet{
  width: 33.3%;
  padding-left: 5px;
  padding-right: 5px;
}

.SkillsTitle{
  color: gold;
  font-size: 200%;
  font-weight: bold;
  width: 100%%;
  text-align: center;
}

.SkillsIcon{
  display: flex;
  margin-top: -10%;
}

.IconCombo{
  width: 50%;
}

.IconPosition{
  text-align: center;
}

.IconSize{
  font-size: 70px;
  color: white;
}

.IconText{
  color: white;
  font-size: 120%;
  text-align: center;
}

.Footer{
  height: 5%;
}

@media (max-width: 1024px) {
  .Content{
    width: 90%;
  }

  .IntroText{
    font-size: 200%;
  }
  
  .Headline{
    font-size: 100%;
    margin-top: -3%;
  }
  
  .MySkills{
    font-size: 166%;
    margin-top: -2%;
  }

  .Skills{
    display: inline;
  }

  .SkillsSet{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8%;
  }

  .SkillTitle{
    font-size: 166%;
  }

  .IconSize{
    font-size: 35px;
  }

  .IconText{
    font-size: 90%;
  }

}